<header>
  <a href="#">
    <h1>DevEnv</h1>
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <% if (locals.user) { %>
      <li>
        <a href="/user/account/<%= locals.user.username%>">My account</a>
      </li>
      <li>
        Welcome, <%= locals.user.username%>
      </li>
      <li>
        <form action="/auth/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } else { %>
      <li>
        <a href="/auth/login">Login</a>
      </li>
      <li>
        <a href="/auth/register">Register</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
