<header>
  <a href="#">
    <h1>DevEnv</h1>
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>

      <% if (locals.user) { %>
      <li>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } else { %>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
