<aside class="col-md-4 blog-sidebar">
  <h3>Top 5 posts</h3>
  <% if (locals.topFive) { %> <% locals.topFive.forEach((item, index) => { %>
  <div>
    <a href="/<%= item.slug %>">
      <h4><%= (index+1)%>. <%= item.title %></h4>
      <p class="topFivePubDate"><%= item.pubDate %></p>
    </a>
  </div>
  <% }) %> <% } %>
</aside>
