<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <div class="container">
      <div class="form-wrapper">
        <h4>Register</h4>
        <% if (messages.error) { %> <%= messages.error %> <% } %>
        <form action="/auth/register" method="POST">
          <div>
            <label for="username">Username</label>
            <input type="username" name="username" id="username" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <button class="formSubmitBtn" type="submit">Sign Up</button>
        </form>
        <a class="formRedirectBtn" href="/auth/login">Link to Sign In</a>
      </div>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
