<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <h1>Accout Settings</h1>
    <h6>Account name: <%= account.username %></h6>
    <button disabled>Save changes</button>
    <h2>WORK IN PROGRESS</h2>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
