<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <h1>NOT YET IMPLEMENTED: user profile</h1>
  </body>
</html>
