/* * {
  margin: 0;
  padding: 0;
} */
body {
  position: relative;
  padding-bottom: 72px;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* ARTICLE */
.articleWrapper {
  display: flex;
}
.articleContent {
  margin-left: 15px;
  padding-top: 10px;
}

.articleContent .snippet {
  max-height: 49px;
  overflow: hidden;
}

.articleContent .timeSincePublished {
  color: rgb(100, 100, 100);
}

/* FORMS */
.form-wrapper {
  display: block;
  margin: auto;
  width: 362px;
  margin-top: 25vh;
  background: #333;
  color: #fff;
  padding: 58px 37px;
}
/* BUTTONS */
.logout {
  border: none;
  background: none;
  color: #fff;
}

.formSubmitBtn,
.formRedirectBtn {
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background: cornflowerblue;
  color: #fff;
  font-weight: bold;
}

.formRedirectBtn {
  text-align: center;
  background: chocolate;
}

/* PAGINATION */
.paginationContainer {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
}

.pagination li a {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid skyblue;
  color: rgb(9, 90, 122);
}

.pagination li a:hover {
  background: skyblue;
  color: #fff !important;
}

.active,
.disabled {
  cursor: default;
}

footer {
  background: #343a40;
  color: #fff;
  bottom: 0;
  display: block;
  padding: 1em;
  text-align: center;
  position: absolute;
  width: 100%;
}

@media (max-width: 990px) {
  .pagination li a {
    display: block;
    padding: 0.3em 0.3em;
    border: none;
    color: rgb(9, 90, 122);
  }
  aside .topFivePubDate,
  .articleWrapper .articleContent .snippet,
  .articleWrapper img,
  .welcomeMessage {
    display: none;
  }

  .logout {
    padding: 0;
    margin-top: 13px;
  }
}

@media (max-width: 360px) {
  .form-wrapper {
    padding: 58px 20px;
  }
  .formSubmitBtn,
  .formRedirectBtn {
    width: 100%;
  }
}
